1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [1]:
# Assigning values to variables
a = 15
b = 4

# Sum
sum_result = a + b
print("Sum:", sum_result)

# Difference
difference_result = a - b
print("Difference:", difference_result)

# Product
product_result = a * b
print("Product:", product_result)

# Division
division_result = a / b
print("Division:", division_result)

# Floor Division
floor_division_result = a // b
print("Floor Division:", floor_division_result)

# Modulus
modulus_result = a % b
print("Modulus:", modulus_result)

Sum: 19
Difference: 11
Product: 60
Division: 3.75
Floor Division: 3
Modulus: 3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [2]:
num1 = 10       # integer
num2 = 5.6      # float
num3 = 4.43     # float

# Integer to Float
int_to_float = float(num1)
print("Integer to Float:", int_to_float)

# Float to Integer
float_to_int = int(num2)
print("Float to Integer:", float_to_int)

# Float to String
float_to_string = str(num3)
print("Float to String:", float_to_string)

Integer to Float: 10.0
Float to Integer: 5
Float to String: 4.43

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [3]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

# The first fruit
print("First fruit:", fruits[0])

# The last fruit
print("Last fruit:", fruits[-1])

# The fourth fruit (index 3)
print("Fourth fruit:", fruits[3])

First fruit: apple
Last fruit: orange
Fourth fruit: coconut

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [4]:
numbers = [10, 20, 30, 40, 50]

# First three elements
print("First three elements:", numbers[0:3])

# Last two elements
print("Last two elements:", numbers[-2:])

# All elements except the first one
print("All elements except the first one:", numbers[1:])

# All elements except the last one
print("All elements except the last one:", numbers[:-1])

# List in reverse using slicing
print("List in reverse:", numbers[::-1])

# Every second element
print("Every second element:", numbers[::2])

First three elements: [10, 20, 30]
Last two elements: [40, 50]
All elements except the first one: [20, 30, 40, 50]
All elements except the last one: [10, 20, 30, 40]
List in reverse: [50, 40, 30, 20, 10]
Every second element: [10, 30, 50]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [5]:
nums = [1, 2, 3]
nums.append(10)
print("Updated list:", nums)

Updated list: [1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [6]:
nums = [1, 2, 3]
nums.insert(1, 99)
print("Updated list:", nums)

Updated list: [1, 99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [7]:
# Original list
nums = [1, 2, 3]

# List to add
new_nums = [4, 5]

# Add elements of new_nums to nums
nums.extend(new_nums)

# Print the updated list
print("Updated list:", nums)

Updated list: [1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [8]:
nums = [4, 1, 3, 2]

# Sort the list in ascending order
nums.sort()

print("Sorted list:", nums)

Sorted list: [1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [9]:
# Initial order list
order = ["burger", "fries", "coke"]

# Adding "ice cream" to the order
order.append("ice cream")

# Removing "burger" from the order
order.remove("burger")

# final order
print("Final order:", order)

Final order: ['fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [10]:
# Initial passenger list
passengers = ["Ali", "Zara", "Ahmed"]

# adding "Sara" at position 2
passengers.insert(1, "Sara")

# Removing "Zara" who got off
passengers.remove("Zara")

# Reverse the order to show who entered first
passengers.reverse()

# Show the final passenger list
print("passenger list:", passengers)

passenger list: ['Ahmed', 'Sara', 'Ali']